* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  margin-top: 65px;
}

.navigation {
  max-width: 1110px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restart {
  background-color: #fda214;
  padding: 13px 29px;
  font-weight: 700;
  color: #fcfcfc;
  border-radius: 26px;
  font-size: 20px;
  border: none;
}

.newGame {
  background-color: #dfe7ec;
  padding: 13px 29px;
  font-weight: 700;
  color: #304859;
  border-radius: 26px;
  font-size: 20px;
  border: none;
}

.buttonsBox {
  display: flex;
  gap: 16px;
}

.round {
  border-radius: 59px;
  display: flex;
  background-color: #152938;
}

.gameZone {
  display: grid;
  gap: 20px;
}

.timeBox {
  padding: 17px 24px;
  background-color: #dfe7ec;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 105px;
}

.movesBox {
  padding: 17px 24px;
  background-color: #dfe7ec;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 105px;
}

.footerSection {
  display: flex;
  gap: 30px;
  /* margin-top: 126px; */
}

.player1 {
  display: none;
  gap: 30px;
}

.morePlayers {
  display: none;
  gap: 30px;
}
