* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #152938;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 18px;
  color: #fcfcfc;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 654px;
  padding: 50px;
  margin-top: 104px;
}

.start-box {
  background-color: #fcfcfc;
  width: 100%;
  height: 559px;
  border-radius: 20px;
  margin-top: 60px;
  padding: 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

button {
  width: 256px;
  height: 52px;
  border-radius: 26px;
  background-color: #bcced9;
  color: #fcfcfc;
  font-size: 26px;
  font-weight: 700;
  border: none;
}

button:hover {
  background-color: #6395b8;
}

.theme {
  display: flex;
  gap: 30px;
  margin-top: 16px;
}

.players {
  display: flex;
  gap: 21px;
  margin-top: 16px;
}

.submit {
  width: 100%;
  background-color: #fda214;
}

.submit:hover {
  background-color: #ffb84a;
}

.grid-size {
  display: flex;
  gap: 30px;
  margin-top: 16px;
}
